
<div class="container">
    <div class="row align-items-start" style="height:50px;  border: 1px solid black;">
        <div class=" col-md-4">
            Primera Columna    
        </div>
        <div class=" col-md-4">
            Segunda Columna
        </div>
        <div class=" col-md-4">
            Tercera columna
        </div>
    </div>
    <div class="row align-items-center" style="height:50px; border: 1px solid black;">
        <div class=" col-md-4">
            Primera Columna    
        </div>
        <div class=" col-md-4">
            Segunda Columna
        </div>
        <div class=" col-md-4">
            Tercera columna
        </div>
    </div>
    <div class="row align-items-end" style="height:50px; border: 1px solid black;">
        <div class=" col-md-4">
            Primera Columna    
        </div>
        <div class=" col-md-4">
            Segunda Columna
        </div>
        <div class=" col-md-4">
            Tercera columna
        </div>
    </div>
</div>